@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.slim-font{
  font-family: "Inter Tight", system-ui;
}
@keyframes pop-up {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pop-up {
  animation: pop-up 2s ease-in-out infinite;
}

/* Vertical bounce for images and texts */
@keyframes bounce-y {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-bounce-y {
  animation: bounce-y 3s ease-in-out infinite;
}

/* Horizontal bounce for the whole div */
@keyframes bounce-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.animate-bounce-x {
  animation: bounce-x 3s ease-in-out infinite;
}

/* Wiggle animation for the price badge */
@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}

  